# Understanding how Machine Learning Models work: Using Decision Tree Model to Predict Customer Churn.

## Introduction

The aim of this project is understand how Machine learning models perform their tasks. We will build a traditional ML model called Decision Tree Model to predict the event/rate at which *customers stop doing business with a company - customer churn*. It features synthetic customer data created from a customer service department. The data contains CustomerId, CustomerAge, MonthlyCharge, CustomerServiceCalls and Churn, our target variable. More details about the different data columns will be highlighted.

- This project simulates real world scenarios flagged by most marketing departments across different companies, when they notice an increase in customer churn and need a data analyst/data scientist help to identify which customers are most likely to leave, next month, for example. Predicting churn is crucial for business to retain customers by addressing their issues proactively. In this task, we will build a decision tree model, to predict customer churn from a telecom company.

In [3]:
import numpy as np
import pandas as pd


print("test")

test

In [4]:
print("test 2")

test 2

In [5]:
np.random.seed(42)  # For reproducibility

# Number of synthetic customers
n_customers = 1000

# Generate synthetic data
customer_ids = np.arange(10001, 10001 + n_customers)
customer_ages = np.random.randint(18, 70, size=n_customers)
monthly_charges = np.round(np.random.uniform(20, 120, size=n_customers), 2)
customer_service_calls = np.random.poisson(lam=2, size=n_customers)

# Churn: 1 if likely to churn, 0 otherwise (simulate higher churn for high service calls & charges)
churn_prob = (
    0.15
    + 0.02 * (monthly_charges > 80)
    + 0.10 * (customer_service_calls > 3)
    + 0.05 * (customer_ages < 25)
)
churn = np.random.binomial(1, np.clip(churn_prob, 0, 0.8))

# Create DataFrame
df = pd.DataFrame({
    "CustomerId": customer_ids,
    "CustomerAge": customer_ages,
    "MonthlyCharge": monthly_charges,
    "CustomerServiceCalls": customer_service_calls,
    "Churn": churn
})

# Display first few rows
df.head()

   CustomerId  CustomerAge  MonthlyCharge  CustomerServiceCalls  Churn
0       10001           56          73.26                     1      0
1       10002           69          44.25                     6      0
2       10003           46          46.92                     1      0
3       10004           32          57.73                     3      0
4       10005           60          22.01                     1      0